delete:
- configure/router[router-name=Base]/bgp/group[group-name=ebgp]/export

updates:
- path: configure/router[router-name=Base]/bgp
  val:
   best-path-selection:
    origin-invalid-unusable: True

   group:
   - group-name: ebgp
     origin-validation:
      ipv4: True
     export:
      policy: [ accept_validated ]

- path: configure/router[router-name=Base]/origin-validation
  val:
   static-entry:
   - ip-prefix: 10.42.42.0/24
     upto: 24
     origin-as: 65001
   - ip-prefix: 10.66.60.0/24
     upto: 24
     origin-as: 65001
     valid: False

- path: configure/policy-options/policy-statement[name=accept_validated]
  val:
   entry:
   - entry-id: 10
     from:
      origin-validation-state: valid
     action:
      action-type: accept
   default-action:
    action-type: reject
